<template>
    <div class="card">
        <div class="card-header">{{ title }}</div>

        <form :action="action" @submit.prevent="handleSubmit" method="POST">
        <div class="card-body">
            <input v-if="method" type="hidden" name="_method" :value="method">
            <div class="form-group row">
                <label for="image" class="col-sm-2">Imagem*</label>
                <div class="col-sm-10" :class="this.errors !== null && this.errors.image ? 'has-error' : ''">
                    <input type="file" class="form-control" id="image" accept="image/*" @change="fileChanged" required>

                    <span class="help-block text-danger" v-if="this.errors !== null && this.errors.image">
                        <div v-for="(error, index) in this.errors.image" :key="index">
                            {{ error }}
                        </div>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2">Título*</label>
                <div class="col-sm-10" :class="this.errors !== null && this.errors.name ? 'has-error' : ''">
                    <input type="text" class="form-control" id="name" placeholder="Título" v-model="form.name" required>

                    <span class="help-block text-danger" v-if="this.errors !== null && this.errors.name">
                        <div v-for="(error, index) in this.errors.name" :key="index">
                            {{ error }}
                        </div>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="max_codes" class="col-sm-2">Cupons disponíveis</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-8" :class="this.errors !== null && this.errors.max_codes ? 'has-error' : ''">
                            <input type="number" class="form-control" id="max_codes" placeholder="Cupons disponíveis" min="1" v-model="form.max_codes" :disabled="form.max_codes_disabled">
                        </div>
                        <div class="col-sm-4">
                            <label>
                                <input type="checkbox" v-model="form.max_codes_disabled"> Ilimitado
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <span class="help-block text-danger" v-if="this.errors !== null && this.errors.max_codes">
                                <div v-for="(error, index) in this.errors.max_codes" :key="index">
                                    {{ error }}
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="form-group row">
                <label for="start_date" class="col-sm-2">Iniciar em*</label>
                <div class="col-sm-10" :class="this.errors !== null && this.errors.start_date ? 'has-error' : ''">
                    <input type="text" v-mask="'##/##/#### ##:##'" class="form-control" id="start_date" placeholder="Data de Início" v-model="form.start_date" required>

                    <span class="help-block text-danger" v-if="this.errors !== null && this.errors.start_date">
                        <div v-for="(error, index) in this.errors.start_date" :key="index">
                            {{ error }}
                        </div>
                    </span>
                </div>    
            </div>
            <div class="form-group row">
                <label for="end_date" class="col-sm-2">Encerrar em</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-8" :class="this.errors !== null && this.errors.end_date ? 'has-error' : ''">
                            <input type="text" v-mask="'##/##/#### ##:##'"  class="form-control" id="end_date" placeholder="Data de Encerramento" v-model="form.end_date" :disabled="form.end_date_disabled">
                        </div>
                        <div class="col-sm-4">
                            <label for="end_date_disabled">
                                <input type="checkbox" id="end_date_disabled" v-model="form.end_date_disabled"> Não encerrar
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <span class="help-block text-danger" v-if="this.errors !== null && this.errors.end_date">
                                <div v-for="(error, index) in this.errors.end_date" :key="index">
                                    {{ error }}
                                </div>
                            </span>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="form-group row">
                <label for="description" class="col-sm-2">Descrição*</label>
                <div class="col-sm-10" :class="this.errors !== null && this.errors.description ? 'has-error' : ''">
                    <textarea class="form-control" id="description" placeholder="Descrição" v-model="form.description" required></textarea>
                    <span class="help-block text-danger" v-if="this.errors !== null && this.errors.description">
                        <div v-for="(error, index) in this.errors.description" :key="index">
                            {{ error }}
                        </div>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label for="rules" class="col-sm-2">Regulamento</label>
                <div class="col-sm-10" :class="this.errors !== null && this.errors.rules ? 'has-error' : ''">
                    <textarea class="form-control" id="rules" placeholder="Regulamento" v-model="form.rules"></textarea>
                    <span class="help-block text-danger" v-if="this.errors !== null && this.errors.rules">
                        <div v-for="(error, index) in this.errors.rules" :key="index">
                            {{ error }}
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-success" type="submit">
                <span v-if="!loading">Gravar</span>
                <span v-if="loading"><i class="fa fa-pulse fa-spinner"></i> Gravar</span>
            </button>
        </div>
        </form>
    </div>
</template>

<script>
    export default {
        props: {
            data: Object,
            title: String,
            action: String,
            method: String
        },

        data () {
            return {
                form: {},
                errors: null,
                loading: false
            }
        },

        created () {
            this.resetData()
        },

        methods: {
            handleSubmit (e) {
                this.loading = true
                
                var formData = new FormData()
                formData.append('name', this.form.name)
                formData.append('description', this.form.description)
                formData.append('start_date', this.form.start_date)
                formData.append('rules', this.form.rules)
                formData.append('image', this.form.image)
                if(!this.form.max_codes_disabled){
                    console.log(this.max_codes_disabled)
                    formData.append('max_codes', this.form.max_codes)
                }
                if(!this.form.end_date_disabled){
                    console.log(this.end_date_disabled)
                    formData.append('end_date', this.form.end_date)
                }            
                

                var config = {
                    headers: { 'Content-Type': 'multipart/form-data' }
                }
                
                // Make HTTP request to store announcement
                axios.post(this.action, formData, config)
                .then((response) => {
                    console.log(response);
                    if (response.data.success) {
                        this.resetData();
                        this.$swal("Yay!", "Promoção criada com sucesso!", "success")
                        .then((value) => {
                            location.reload()
                        });
                    } else {
                        console.log(response)
                        this.$swal("Oops!", "Erro ao enviar os arquivos :( Tente novamente", "error");
                    }
                }) // Make sure we bind Vue Component object to this funtion so we get a handle of it in order to call its other methods
                .catch((error) => {
                    this.$swal("Oops!", "Erro ao enviar os arquivos :( Tente novamente", "error");
                    this.errors = error.response.data.errors
                    console.log(error);
                })
                .finally(() => {
                    this.loading = false
                });
            },

            fileChanged(e) {
                var files = e.target.files || e.dataTransfer.files;

                if (!files.length){
                    this.form.image = []
                    return
                }

                for (var i = files.length - 1; i >= 0; i--) {
                    this.form.image = files[i]
                }
            },

            resetData () {
                this.errors = null

                if (typeof this.data !== 'undefined') {
                    this.form = {
                        name: this.data.name || '',
                        image: this.data.image || '',
                        description: this.data.description || '',
                        start_date: this.data.start_date || null,
                        end_date: this.data.end_date || null,
                        end_date_disabled: !this.data.end_date || false,
                        max_codes: this.data.max_codes || 1,
                        max_codes_disabled: !this.data.max_codes || false,
                        image: this.data.image || '',
                        rules: this.data.rules || ''
                    } 
                }else{
                    this.form = {
                        name: '',
                        image: '',
                        description: '',
                        start_date: null,
                        end_date: null,
                        end_date_disabled: false,
                        max_codes: 1,
                        max_codes_disabled: false,
                        image: '',
                        rules: ''
                    } 
                }
            }
        }
    }
</script>
